{% extends 'base.html' %}
{% block title %}
    Codepetitor
{% endblock %}
{% block body %}


<div class="card-deck p-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Collaborator</h5>
            <a href="http://127.0.0.1:5000/collaborator/"><button type="button" class="btn btn-outline-primary">Play Game</button></a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Collaborator</h5>
            <a href="http://127.0.0.1:5000/collaborator/"><button type="button" class="btn btn-outline-primary">Play Game</button></a>
        </div>
    </div>
</div>

<div class="card-deck p-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Collaborator</h5>
            <a href="http://127.0.0.1:5000/collaborator/"><button type="button" class="btn btn-outline-primary">Play Game</button></a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Collaborator</h5>
            <a href="http://127.0.0.1:5000/collaborator/"><button type="button" class="btn btn-outline-primary">Play Game</button></a>
        </div>
    </div>
</div>

<div class="card-deck p-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Collaborator</h5>
            <a href="http://127.0.0.1:5000/collaborator/"><button type="button" class="btn btn-outline-primary">Play Game</button></a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Collaborator</h5>
            <a href="http://127.0.0.1:5000/collaborator/"><button type="button" class="btn btn-outline-primary">Play Game</button></a>
        </div>
    </div>
</div>
    
{% endblock %}